<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://use.fontawesome.com/b28b7d5db1.js"></script>
  <link href="/public/reset.css" rel="stylesheet" />
   <link href="/public/styles.css" rel="stylesheet" />
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="initial-scale=1.0">
  <title>Convenient Currency</title>
</head>
<body>
  <h1>Convenient Currency</h1>
  
</body>
</html>